html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    /*最小屏幕宽度 解决屏幕组建换行*/
    min-width: 1366px;
}


>.el-breadcrumb__inner {
    font-size: 50px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table {
    margin-top: 10px;
}
.el-pagination {
    margin-top: 15px;
}